@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-surface text-on-surface min-h-screen font-body;
    min-height: max(884px, 100dvh);
  }
}

@layer utilities {
  .tap-highlight-none {
    -webkit-tap-highlight-color: transparent;
  }

  .scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}

.font-manrope, .font-headline {
  font-family: 'Manrope', sans-serif;
}

.time-picker-gradient {
  background: linear-gradient(180deg, rgba(248, 249, 251, 1) 0%, rgba(248, 249, 251, 0) 50%, rgba(248, 249, 251, 1) 100%);
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
